body, html, div, section, p, span, h1, button, nav, ul, li{
  margin: 0; padding: 0;
}
ul, li{
  list-style: none;
}
body{
  background-color: rgb(238, 238, 238);
  color: #222;
  overflow: hidden;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:2;
  background: #fff;
  overflow: hidden;
  ul{
    width: 100%;
    display: flex;
    li{
      width: calc(100% / 5);
      button{
        border:unset;
        background-color: transparent;
        .txt{ color: #7c7c7c; }
      }
    }
  }
  .swiper-slide{
    padding: 10px 0;
    text-align: center;
    border-bottom:3px solid #ddd;
  }
  .swiper-slide-thumb-active{
    border-bottom:3px solid rgb(107, 153, 175);
    button{
      .txt{ color: #222; font-weight: bold; }
    }
  }
}


main{
  height: calc(100dvh - 45px);
  overflow: hidden;
  .swiper-slide{
      min-height:100vh;
      background: #eee;
  }
  
}
section{
  display: inline-flex;
}
article{
  display: flex;
}
.content{
  position: relative;
  max-width: 94%;
  margin: 0 auto 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.title{
  color: #7c7c7c;
  font-size: 14px;
}
.main_txt{
  margin: 8px 0;
  font-size: 26px;
}
.sub_txt{
  .desc{
    &_main{
      margin-bottom: 8px;
      color: #4f4f4f;
      text-align: center;
      font-size: 14px;
    }
    &_sub{
      color: #2e2e2e;
      font-size: 14px;
    }
  }
}
.btn_area{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  button{
    padding: 4px 8px;
    border: 1px solid #4f4f4f;
    border-radius: 8px;
    background-color: white;
    &:first-child{ margin-right: 16px; }
    .txt{
      line-height: 1;
      font-size: 12px;
      color: #4f4f4f;
    }
  }
}